# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Build files
public

# Mac files
.DS_Store

# IntelliJ IDEA
.idea

# dependencies
node_modules
